<h1>Products</h1>

<%= link_to "New product", new_store_product_path %>

<br/> <br/>

<div id="products" style="display: flex; flex-wrap: wrap; gap: 40px;">
  <% @products.each do |product| %>
    <div>
      <% if product.featured_image.attached? %>
        <h2> <%= product.name %> <%= number_to_currency(product.price_in_cents.to_f / 100, locale: :fr) %>  </h2>
        <%= link_to product, store_product_path(product) do %>

          <%= image_tag product.featured_image, alt: product.name %>
        <% end %>
      <% else %>
        <%= link_to product.name, store_product_path(product) %>

    <% end %>

      <br/> <br/>

    </div>
  <% end %>
</div>
