<h1>Products</h1>

<%= link_to "New product", new_product_path %>
<br/> <br/>

<div id="products" style="display: flex; flex-wrap: wrap; gap: 20px;">
  <% @products.each do |product| %>
    <div>
      <% if product.featured_image.attached? %>
        <h2> <%= product.name %> <%= price_in_euros(product.price_in_cents) %>  </h2>
        <%= link_to product do %>
          <%= image_tag product.featured_image, alt: product.name %>
        <% end %>
      <% else %>
        <%= link_to product.name, product %>
      <% end %>

      <br/> <br/>

    </div>
  <% end %>
</div>
